// Forms

form {
  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
  h4 {
    display: block;
    margin: grid(5) 0 grid(3);
  }

  input[type=text],
  input[type=email] {
    background: $white;
    border: 1px solid $white;
    transition: border .2s;
    border-radius: 3px;
    padding: 10px 18px;
    color: $black;
    font: 16px/1.375 $font-display;
    &:focus {
      outline: 0;
      border: 1px solid $red;
    }
    &::placeholder {
      color: lighten($black,50%);
    }

    width: 100%;
    margin-bottom: grid(3);

    @include media-md {
      width: calc(50% - 12px);
      float: left;
      &:nth-child(odd) {
        float: right;
      }
    }
  }

  // Form buttons
  .actions {
    margin-top: grid(2);
    text-align: center;
  }

  // Feedback from submitting form
  .status {
    font: 16px/1.5625 $font-display;
    color: $red;
    text-align: center;
    display: none;
    &.error {
      margin: grid(2) 0 grid(4);
      display: block;
    }
  }

  // Form sending
  &.working {
    input[name=subscribe] {
      opacity: .5;
    }
  }

  // Submit was successful
  &.success {
    fieldset,
    .actions {
      display: none;
    }
    .status {
      margin: grid(5) 0;
      display: block;
    }
  }
}

// General button styles
.button {
  background: $red;
  transition: background .2s;
  padding: 10px 32px;
  font: 16px/1.5625 $font-display;
  color: $white;
  display: inline-block;
  border: none;
  border-radius: 3px;
}
// Hover events on no-touch
.no-touchevents {
  form:not(.working) .button:hover {
    background: $dk-blue;
  }
}