// Splash page

.splash {

	.site-main {
		h4.header {
			font-weight: bold;
			text-transform: uppercase;
			color: $red;
			margin: grid(6) 0 grid(4);
		}

		@include media-md {
			width: columns(3);
			margin: 0 auto;
			h4.header {
				margin: grid(10) 0 grid(2);
			}
		}
	}
}